h1, h2, h3{
	border: solid 1px green;
}
hgroup{
	border: solid 1px black;
}
nav{
	border: solid 1px red;
}
ul{
	border: solid 1px green;
}
li{
	border: solid 1px blue;
}
a{
	border: solid 1px orange;
}
#dos{
	border: solid 2px green;
}
#chat{
	border: solid 2px green;
}
#contenedor{
	border: solid 4px red;
}
#contMsn{
	border: dotted 2px blue;
}
#login{
	border: solid 2px blue;
}
#Mensajes{
	border: solid 2px red;	
}
#titulo{
	border: solid 1px blue;
}
#tecnologias, #buscar, #contacto{
	border: solid 1px white; 
}
#tres{
	border: solid 2px yellow;
}
#uno{
	border: solid 2px blue;
}
#usuariosList{
	border: solid 2px black;
}
