a{
	color:#F90;
	font-weight:bold;
	display: block;
	text-decoration: none;
	font-family: 'Righteous', cursive;
	
}
a, #uno, #login, h4{
	/*3D*/
	
	text-shadow: 0 1px 0 black,
               0 2px 0 black,
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    -webkit-text-shadow: 0 1px 0 black,
               0 2px 0 black,
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    -moz-text-shadow: 0 1px 0 black,
               0 2px 0 black,
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
      -o-text-shadow: 0 1px 0 black,
               0 2px 0 black,
               0 3px 0 black,
               0 4px 0 black,
               0 5px 0 black,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
body{
	height: 100%;
}
h1, h2, h3{
	margin: 0 0 0 .2em;
	
}
h3,h1{
	font-size: 1.2em;
}
h4{
	color: green;
	font-size: 1.2em;
}
img{
	width: 25%;
	max-width:70px;
}
img, hgroup, nav ul li{
	display: inline-block;
	vertical-align: middle;
}

header, footer{
	background: #222222;
}
#contenedor{
	background-image: url("../imagenes/fondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

.tam{
	font-size: 3em;
	/*color letras no fantasmas*/
	color: #F90;
	text-decoration: none;
	font-family: 'Righteous', cursive;
	text-align: center;
	
}
#uno{
	/*background-color: #7F6B49;*/
	
   	background-color: rgba(127,107,73,0.7);
   	position: relative;
   	top: 7%;
   	left: 10%;
   	width: 80%;
	height: 20%;
	/*sombritas*/
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	
	border-radius: 1em 1em 1em 1em;
}
/*#dos img, #tres img{
	position: relative;
	height: 25%;
   	left: 10%;
   	width: 40%;
	max-width: 40%;
	
}*/
#btnLogin, #txtLogin{
	display: block;
	margin: 0.5em auto;
}
#contenedor{
	height: 55em;
	max-height: 55em;
	
}
#contMsn{
	border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	-o-border-radius: 1em 1em 1em 1em;
	border: solid 2px #FF9900; 
	height: 25em;
	margin-bottom: 1em; 
	
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}
#contacto a{
	display: inline-block;
	vertical-align: middle;
	margin: 2% 5% 2% 5%;
	text-align:center;
}
#contacto a img{
	max-width: 85%;
	min-width: 85%;
	margin-right: 1px;
	
}
#chat{
	background-color: rgba(127,107,73,0.7);
   	
	/*sombritas*/
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	
	border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	-o-border-radius: 1em 1em 1em 1em;
	
	
}
footer a{
	font-size: 1em;
}

#login{
	background-image: url("../imagenes/login.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	position: relative;
   	top: 7%;
   	left: 30%;
	padding: 1em;
	text-align: center;
	width: 30%;
	height: 10%;
	border-radius: 10px;
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	-o-border-radius: 1em 1em 1em 1em;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}
#login h2{
	color:#F90;
}
#mensaje, #enviar{
	vertical-align: top;
	text-align: right;
	margin: 0px 4px 0px 4px;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}
#Mensajes{
	width: 70%;
	margin-right: 1%;
}
#Mensajes, #usuariosList{
	display: inline-block;
	padding: 1em;
	vertical-align: top;
}
#tecnologias, #copy, #contacto{
	display: inline-block;	
	max-width: 33%;
	min-width: 30%;
	vertical-align: middle;
	width: 70%;
	text-align: center;
	
}

#texto{
	text-align: right;
}
#titulo{
	padding-left: 3em;
	width: 20%;
}
#titulo, nav{
	display: inline-block;
	vertical-align: middle;
}
#txtLogin{
	text-align: center;
}
#usuariosList ul li{
	color: white;
}
#usuariosList{
	margin: 1em 1em 0em 0em;
	width: 18%;
	border: solid 2px green;
	background-color: rgba(127,107,73,0.7);
   	
	/*sombritas*/
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	
	border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	-o-border-radius: 1em 1em 1em 1em;
}
.OpMenu{
	height: 2em;
	margin: 0;
	padding-top: 1em;
	transition: all 0.5s;
}
header{
	position: fixed;
	width:	100%;
	top: 0;
	z-index: 1;
}
#contenedor{
	margin-top: 6%;
}
/*imagenes*/
#scroll{
	height: 270px;
	width:100%;
	position: relative;
	overflow: hidden;
	/*margin-left: 2.5%;*/
}
#scroll div{
	height: 270px;
    width: 2454px;
    background:url("../imagenes/scroll.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
    -moz-transition:  opacity 0.5s ease-out; 
    -o-transition: opacity 0.5s ease-out; 
  	-webkit-transition: opacity 0.5s ease-out; 
    -ms-transition: opacity 0.5s ease-out; 

    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
}
@-webkit-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1480px; }
   /*-1480*/
}
@-moz-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1480px; }
}
#dos{
	position: relative;
	top: 15%;
   	left: 10%;
   	width: 80%;
	height: 30%;
	background-color: rgba(127,107,73,0.7);
	padding: 2em 0em 2em 0em;
	/*sombra*/
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
	
	border-radius: 1em 1em 1em 1em;
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	-o-border-radius: 1em 1em 1em 1em;
	
}